<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        The only eCommerce platform you’ll ever need.
      </h1>
      <%= cdn_image_url(spree_current_user.avatar.variant(resize_to_limit: [128, 128])) %>
      <p class="subtitle">
        Build, customize and scale your store with no limits or license fees.
        Solidus is the free, open-source eCommerce framework for
        digitally-native brands, fast-growing online businesses and pragmatic
        developers.
      </p>
    </div>
  </div>
</section>
